
<% if book.favorited_by?(current_user) %>
<td><%= link_to book_favorites_path(book), method: :post do %>♡<%= books.favorites.count %> いいね
 <% end %></td>
 
<% else %>
<td><%= link_to book_favorites_path(book), method: :delete do %>♥<%= books.favorites.count %> いいね
<% end %></td>


    #@books=all book
    
    